.HeaderTest {
    /* text-align: center; */
    background-color:white;
}
.HeaderTitle {
    height: 100px;
    background-color:#ff4000;
}
.TitleCSS {
    color: white;
    text-align: center;
    justify-content: center;    
    align-items: center;
    padding-top: 10px;
}

.btn-align{
    flex: 1;
    justify-content: flex-end;
}
.header_footer_style {
    width: 100%;
    height: 45px;
    background-color: gray;
  }